html, body {
	background-color: lightgray;
	height: 100%;

}

.container {
	border: solid black 1px;
	padding: 1px;
	background-color: white;
	margin: 10% auto;
	height: 80%;
	width: 60%;

}

.first {
	background-color: blue;
	height: 100%;
	width: calc(100%/3);
	float: left;
}

.second {
	background-color: green;
	height: 100%;
	width: 33%;
	float: left;
	
}

.third {
	background-color: yellow;
	height: 100%;
	width: 33.333%;
	float: left;
	margin: auto;
	position: relative;
}

.fourth {
	background-color: red;
	height: 20%;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	
}
